In [6]:
import pandas as pd
import numpy as np

In [13]:
data = pd.read_csv('Metro_Interstate_Traffic_Volume_Cleaned.csv')
data.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,date_time,hour_flag,traffic_volume
0,NaN,288.28,0.0,0.0,40,Clouds,10/2/2012 9:00,1,5545
1,NaN,289.36,0.0,0.0,75,Clouds,10/2/2012 10:00,1,4516
2,NaN,289.58,0.0,0.0,90,Clouds,10/2/2012 11:00,1,4767
3,NaN,290.13,0.0,0.0,90,Clouds,10/2/2012 12:00,1,5026
4,NaN,291.14,0.0,0.0,75,Clouds,10/2/2012 13:00,1,4918

In [ ]:
data['date_time'] = pd.to_datetime(data['date_time'])
data['date'] = data['date_time'].dt.date
data['hour'] = data['date_time'].dt.hour
data.head()

In [ ]:
# expected hours per date
hours_per_day = data.groupby('date')['hour'].nunique()

# count incomplete days
incomplete_days = hours_per_day[hours_per_day < 24]
print(f"Incomplete days: {len(incomplete_days)}")

Incomplete days: 646

In [12]:
all_dates = pd.date_range(data['date'].min(), data['date'].max())
missing_dates = all_dates.difference(data['date'].unique())
print(f"Missing dates: {len(missing_dates)}")

Missing dates: 330